body, html{
    height:100%;
    margin:0;
    font-size:18px;
    font-family: sans-serif;
    font-weight:400; 
    line-height:1.8em;
    color:rgb(102, 102, 102);
  }
  
  .first-container, .second-container, .third-container{
    position:relative;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
  }
  
  .first-container{
    background-image:url('../images/picture1.jpg');
    min-height:100%; 
  }
  
  .second-container{
    background-image:url('../images/picture2.jpg');
    min-height:400px;
  }
  
  .third-container{
    background-image:url('../images/picture3.jpg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .light-part{
    background-color:#fff;
    color:rgb(0, 0, 0);
  }
  
  .dark-part{
    background-color:#394755;
    color:#fff;
  }
  
  .text-part{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .text-part .box{
    /* background-color:#000; */
    color:#fff;
    padding:20px;
  }

  .bg-part .box{
    background-color:#000;
    color:#fff;
    padding:20px;
  }